services:
  postgres:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=formbuilder
      - POSTGRES_PASSWORD=formbuilder
      - POSTGRES_DB=formbuilder
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data:
